body {
    margin: 0;
    padding: 0;
    background-color: #f9f9f9; /* Warna latar belakang halaman */
}

.galeri-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px; /* Sedikit memperbesar gap */
    padding: 0 20px 20px; /* Menghapus padding atas */
    max-inline-size: 1200px; /* Membatasi lebar maksimum container */
    margin: 0 auto; /* Memusatkan container */
}

.galeri-item {
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
    aspect-ratio: 1 / 1;
    cursor: pointer;
}

.galeri-item img {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease;
}

.galeri-item:hover {
    transform: scale(1.05);
}

.galeri-item:hover img {
    transform: scale(1.1);
}

.galeri-item:active {
    transform: scale(0.95);
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-block-start: 100px;
    inset-inline-start: 0;
    inset-block-start: 0;
    inline-size: 100%;
    block-size: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    margin: auto;
    display: block;
    inline-size: 80%;
    max-inline-size: 700px;
}

.close {
    position: absolute;
    inset-block-start: 15px;
    inset-inline-end: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* Gaya untuk header galeri */
.galeri-header {
    text-align: center;
    padding: 60px 20px; /* Menambah padding atas dan bawah */
    background-color: #ffffff; /* Mengubah warna latar belakang header */
    margin-block-start: 40px; /* Menambah margin atas */
    margin-block-end: 40px; /* Menambah margin bawah */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Menambah bayangan halus */
}

.galeri-header h1 {
    font-size: 2.5em;
    color: #333;
    margin-block-end: 15px;
}

.galeri-header p {
    font-size: 1.2em;
    color: #666;
}

.galeri-container {
    display: grid; /* Tambahkan ini */
    grid-gap: 10px; /* Menambahkan jarak antar item */
}

/* Media query untuk perangkat mobile */
@media screen and (max-width: 414px) {
    .galeri-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Mengatur 2 kolom pada mobile */
        grid-gap: 10px; /* Menambahkan jarak antar item */
    }
    .modal-content {
        inline-size: 100%;
    }
    .galeri-header {
        margin-block-start: 20px; /* Mengurangi margin atas pada mobile */
        padding: 40px 20px; /* Mengurangi padding pada mobile */
    }
    .galeri-header h1 {
        font-size: 2em;
    }
    .galeri-header p {
        font-size: 1em;
    }
}

